<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlypySpace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1942CE281E92EC3700CF3742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1942CE421E92EC3800CF3742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1942CE4D1E92EC3800CF3742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
